@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background:#FFFFFF;
  --sectionBg:#F5F6F9;
  --third: #f6f6f6;
  --primary: #F69715;
  --secondary: #000000;
  --para: #4A4E56;
  --active-link: rgb(7, 133, 134);
  --upper-footer: #282F3B;
  --lower-footer: rgb(31,37,48);
  --footer-text:rgb(170, 175, 184);
  --white-text:rgb(255, 255, 255);
}


html{
  scroll-behavior: smooth;
}

body{
  font-family: "Inter", serif;
  background-color: var(--background);
}

h1, h2, h3, h4, h5, h6{
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
}

h1, h2, h3, h4, h5, h6, .navLink{
  font-family: "League Spartan", serif;
}

p{
  font-family: "Inter", serif;
  font-weight: 400;
  line-height: 24px;
}

.headline{
  font-family: "League Spartan", serif;
  font-weight: 700;
  line-height: 36px;
  font-size: 36px;
  margin-bottom: 1rem;
  text-align: left;
}

.sub-headline{
  font-size: 16px;
  margin-bottom: 1rem;
  font-family: "Inter", serif;
  font-weight: 400;
  text-align: left;
  line-height: 24px;
}

.spartan-family{
  font-family: "League Spartan", serif;
}

.btn{
  font-family: "League Spartan", serif;
  font-weight: 600;
  line-height: 24px;
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 8px;
  background-color: var(--primary);
  /* color: var(--background); */
  border: 1px solid var(--primary);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  max-width: 200px;
}

/* Small (sm) */
@media (min-width: 640px) {
  
}

/* Medium (md) */
@media (min-width: 768px) {
  .headline{
    line-height: 56px;
    font-size: 56px;
  }

  .btn{
    line-height: 24px;
    font-size: 20px;
    padding: 10px 20px;
    max-width: 200px;
  }
}

/* Large (lg) */
@media (min-width: 1024px) {
  .headline{
    line-height: 64px;
    font-size: 64px;
  }
}

/* Extra Large (xl) */
@media (min-width: 1280px) {
  .headline{
    line-height: 72px;
    font-size: 72px;
  }
}

/* 2X Large (2xl) */
@media (min-width: 1536px) {

}


/* Hero Section Start */
.custom-swiper-button-prev,
.custom-swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 30;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Hero Section End */

.custom-swiper-button-prev {
  left: 1rem;
}

.custom-swiper-button-next {
  right: 1rem;
}



@layer utilities{
  .background{
    background-color: var(--background);
  }

  .primaryBg{
    background-color: var(--primary);
  }

  .primaryText{
    color: var(--primary);
  }

  .secondaryBg{
    background-color: var(--secondary);
  }

  .secondaryText{
    color: var(--secondary);
  }

  .thirdBg{
    background-color: var(--third);
  }

  .para{
    color: var(--para);
  }

  .heading{
    color: var(--secondary);
  }

  .activeLink{
    color: var(--active-link);
  }

  .navLink{
    text-transform: capitalize;
    font-weight: 400;
  }

  .sectionBg{
    background-color: var(--sectionBg)
  }

  .bottomFooterBg{
    background-color: var(--lower-footer)
  }

  .footerText{
    color: var(--footer-text)
  }

  .upperFooterBg{
    background-color: var(--upper-footer)
  }

  .footerHeading{
    color: var(--white-text);
    position: relative;
    padding-bottom: .7em;
  }

  .footerHeading::before{
    content: '';
    position: absolute;
    bottom: 0;
    left:0;
    height: 3px;
    width: 20%;
    background-color: var(--primary)
  }
}

@layer components{
  .sectionName {
    @apply primaryText text-2xl mb-2 relative flex items-center justify-center text-nowrap;
}

.sectionName::before,
.sectionName::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 30px;
    height: 1px; 
    background-color: var(--primary);
}

.sectionName::before {
    left: -30px;
}
.sectionName::after {
    right: -30px; 
}

.sectionHeader {
  @apply heading mb-3 sm:text-4xl leading-[38px] text-4xl font-semibold text-center;
}

.para li {
  list-style: none;
  position: relative;
  padding-left: 24px; 
}

.para li::before {
  content: "○"; 
  position: absolute;
  left: 0;
  font-size: 1.6em; 
  color: var(--para); 
}

.whyusCard{
  position: relative;
  
}
.whyusCard::before {
    content: '';
    position: absolute;
    top: -15px;
    left: -8px;
    width: 15px;
    height: 15px;
    border: 1px solid var(--para);
    @apply border-gray-300;
    border-radius: 50%; 
}

  /* Change the circle pagination bullets color to primary */
  .swiper-pagination-bullet {
    background-color: var(--primary) !important; /* Apply primary color */
  }

  /* Change the active circle pagination bullet color */
  .swiper-pagination-bullet-active {
    background-color: var(--primary) !important; /* Apply primary color */
  }

  /* Change the next/prev navigation arrows color to primary */
  .swiper-button-next,
  .swiper-button-prev {
    color: var(--primary) !important; /* Apply primary color */
  }

  /* Optional: Change hover state color for the arrows */
  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    color: var(--primary) !important;
  }

}
